body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

#quote {
  font-size: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 80%;
  height: 100px;
  font-size: 18px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

#timer {
  margin: 10px;
  font-weight: bold;
}